* {
    font-size: 15px;
    line-height: 2;
}

img {
    display: block;
    height: auto;
    min-height: 300px;
    max-height: 500px;
    max-width: 100%;
}

textarea {
    resize: none;
}

.semi-transparent-button {
    display: block;
    box-sizing: border-box;
    margin: 5px auto;
    padding: 8px;
    width: 100%;
    max-width: 200px;
    background: #fff;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 8px;
    color: #fff;
    text-align: center;
    text-decoration: none;
    letter-spacing: 1px;
    transition: all 0.3s ease-out;
}

.semi-transparent-button:hover,
.semi-transparent-button:focus,
.semi-transparent-button:active {
    background: #fff;
    color: #000;
    transition: all 0.5s ease-in;
}

.scrollup {
    width: 50px;
    height: 50px;
    opacity: 1;
    position: fixed;
    bottom: 50px;
    right: 100px;
    display: none;
    text-indent: -9999px;
    background: url('/media/images/icon_top.png') no-repeat;
}

.grecaptcha-badge {
    visibility: hidden;
}
