{% extends 'base.html' %}
{% load embed_video_tags %}
{% load i18n %}
{% load crispy_forms_tags %}
{% load crispy_forms_filters %}
{% crispy comment_form comment_form.helper %}
{% crispy form %}

{% block title %}{{ movie.movie_title }}{% endblock %}

{% block content %}
    <div id="home">
        <div class="container">
            <div class="row pad-bottom">
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                    <img src="{{ movie.poster.url }}" alt="{{ movie.movie_title_eng }}">
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                    <h2>{{ movie.movie_title }}</h2><br>
                    <p class="text-left">
                        Оригинальное название: {{ movie.movie_title_eng }}
                    </p>
                    <p class="text-left">
                        Режиссер: {{ movie.director }}
                    </p>
                    <p class="text-left">
                        Жанр: {{ movie.genre }}
                    </p>
                    <p class="text-left">
                        Длительность: {{ movie.duration }}
                    </p>
                    <p class="text-left">
                        Премьера: {{ movie.premiere }}
                    </p>
                    <p class="text-left">
                        Производство: {{ movie.country }}
                    </p>
                    <p class="text-left">
                        В главных ролях: {{ movie.cast }}
                    </p>
                    <p class="text-left">
                        Сюжет: {{ movie.plot }}
                    </p>
                </div>
            </div>
        </div>
{#        <div class="container">#}
{#            {% if movie.video %}#}
{#                <iframe width="800" height="600" src="{{ movie.video }}" frameborder="0" allowfullscreen></iframe>#}
{#            {% endif %}#}
{#        </div>#}
        <div class="container text-left">
            <div class="row" data-anim-type="fade-in-up">
                {% for seance in seance %}
                    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
                        <a class="semi-transparent-button"
                           href="{% url 'order' seance.id %}">{{ seance.start.date }} {{ seance.start.time }}</a>
                    </div>
                {% endfor %}
            </div>
            <br>
        </div>
        <div class="container text-left">
            <div class="row" data-anim-type="fade-in-up">
                <div class="col-xs-11 col-sm-11 col-md-11 col-lg-11">
                    {% if user.is_authenticated %}
                        <form action="." method="post">
                            {% csrf_token %}
                            <div class="form-group text-left">
                                {{ comment_form|crispy }}
                            </div>
                            <button type="submit" class="save btn btn-default">Сохранить</button>
                        </form>
                    {% else %}
                        <h2>Войдите в аккаунт чтобы оставить комментарий</h2>
                    {% endif %}
                    <br>
                    {% for comment in comments %}
                        <p class="media-body">
                            {{ comment.author_name }}
                            {{ comment.created }}
                            {{ comment.comment_text|linebreaks }}
                        </p>
                    {% empty %}
                        <p>Комментариев нет</p>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}