<!DOCTYPE html>
{% load static  recaptcha3 %}
<html lang="ru">
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-CS4DP2X6KK"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());

        gtag('config', 'G-CS4DP2X6KK');
    </script>
    <meta charset="UTF-8">
    <meta name="description" content="Сайт запорожского кинотеатра Cinema planet">
    {% block meta %}Meta{% endblock %}
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!--[if IE]>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <![endif]-->
    <title>{% block title %}Title{% endblock %}</title>
    <!-- BOOTSTRAP CORE CSS -->
    <link href="{% static 'assets/bootstrap.css' %}" rel="stylesheet"/>
    <!-- ION ICONS STYLES -->
    <link href="{% static 'assets/ionicons.css' %}" rel="stylesheet"/>
    <!-- FONT AWESOME ICONS STYLES -->
    <link href="{% static 'assets/font-awesome.css' %}" rel="stylesheet"/>
    <!-- FANCYBOX POPUP STYLES -->
    <link href="{% static 'assets/js/source/jquery.fancybox.css' %}" rel="stylesheet"/>
    <!-- STYLES FOR VIEWPORT ANIMATION -->
    <link href="{% static 'assets/animations.min.css' %}" rel="stylesheet"/>
    <!-- CUSTOM CSS -->
    <link href="{% static 'assets/style-solid-black.css' %}" rel="stylesheet"/>
    <!-- HTML5 Shiv and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <![endif]-->
    <link href="{% static 'assets/style.css' %}" rel="stylesheet"/>
    <link rel="shortcut icon" href="/media/images/favicon.ico" type="image/x-icon">
    <script>
        window.onscroll = function () {
            scrollFunction()
        };

        function scrollFunction() {
            if (document.body.scrollTop > 200 || document.documentElement.scrollTop > 200) {
                document.getElementById("scrollup").style.display = "block";
            } else {
                document.getElementById("scrollup").style.display = "none";
            }
        }

        function topFunction() {
            document.body.scrollTop = 0;
            document.documentElement.scrollTop = 0;
        }
    </script>
    {% recaptcha_init %}
    {% recaptcha_ready action_name='homepage' %}
</head>

<body data-spy="scroll" data-target="#menu-section">
<!--MENU SECTION START-->
<div class="navbar navbar-inverse navbar-fixed-top scroll-me" id="menu-section">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url 'distribution' %}">

                Cinema Planet

            </a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="{% url 'distribution' %}">Сейчас в кино</a></li>
                <li><a href="{% url 'announcement' %}">Скоро в прокате</a></li>
                <li><a href="#contact">Контакты</a></li>
                {% if user.is_authenticated %}
                    <li><a href="{% url 'account_logout' %}">Выход</a></li>
                {% else %}
                    <li><a href="{% url 'account_signup' %}">Регистрация</a></li>
                    <li><a href="{% url 'account_login' %}">Вход</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>
<!--MENU SECTION END-->

{% block content %} {% endblock %}

<!--CONTACT SECTION START-->
<section id="contact">
    <div class="container">
        <div class="row text-center header animate-in" data-anim-type="fade-in-up">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <h3>Contact Details </h3>
                <hr/>
            </div>
        </div>

        <div class="row animate-in" data-anim-type="fade-in-up">
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <div class="contact-wrapper">
                    <h2 class="text-center">Non comercial project</h2>
                    <small>This site is protected by reCAPTCHA and the Google
                        <a href="https://policies.google.com/privacy">Privacy Policy</a> and
                        <a href="https://policies.google.com/terms">Terms of Service</a> apply.
                    </small>
                </div>
            </div>

            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <div class="contact-wrapper">
                    <h3>Контакты</h3>
                    <h4><strong>Email : </strong> cinema_planet@gmail.com </h4>
                    <h4><strong>Телефон : </strong> 0985557755<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;0669955110 </h4>
                </div>
            </div>

            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <div class="contact-wrapper">
                    <h3>Адрес : </h3>
                    <h4>ул. Жуковского, 64, Запорожье</h4>
                    <div class="footer-div">
                        &copy; 2020 cinemaplanet.herokuapp.com
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--CONTACT SECTION END-->

<!-- JAVASCRIPT FILES PLACED AT THE BOTTOM TO REDUCE THE LOADING TIME -->
<!-- CORE JQUERY -->
<script src="{% static 'assets/js/jquery-1.11.1.js' %}"></script>
<!-- BOOTSTRAP SCRIPTS -->
<script src="{% static 'assets/js/bootstrap.js' %}"></script>
<!-- EASING SCROLL SCRIPTS PLUGIN -->
<script src="{% static 'assets/js/vegas/jquery.vegas.min.js' %}"></script>
<!-- ISOTOPE SCRIPTS -->
<script src="{% static 'assets/js/jquery.isotope.js' %}"></script>
<!-- VIEWPORT ANIMATION SCRIPTS   -->
<script src="{% static 'assets/js/appear.min.js' %}"></script>
<script src="{% static 'assets/js/animations.min.js' %}"></script>
<!-- CUSTOM SCRIPTS -->
<script src="{% static 'assets/js/custom-solid.js' %}"></script>

<a class="scrollup" id="scrollup">Наверх</a>

</body>
</html>